<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8" />
    <!-- § ICON: shortcut_icon -->
    <link rel="icon" href="assets/favicon.ico" type="shortcut icon" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="js/main.js" defer></script>
  </body>
</html>
